// gallery style
@use 'variables.scss' as v;

.gallery {
  .wrapper {
    .images {
      @include v.flex(row, center, flex-start);
      flex-wrap: wrap;
      gap: 20px;
      img {
        max-width: 30%;
        aspect-ratio: 1/1;
        object-fit: cover;
        -webkit-user-drag: none;
        pointer-events: none;
      }
    }
  }
}
