// header style
@use 'variables.scss' as v;

header {
  &.scrolled {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .logo {
    @include v.flex(row, center, center);
    img {
      max-height: 50px;
    }
    gap: 5px;
    max-height: 100%;
  }
  @include v.flex(row, flex-start, center);
  flex-wrap: wrap;
  gap: 20px;
  background-color: v.$background;
  color: v.$pink-text;
  height: 70px;
  padding: 15px;
  max-width: 100vw;
  z-index: 4;
  position: absolute;
  top: -1px;
  width: 100%;
  transition: box-shadow 0.1s ease-out;

  a {
    text-decoration: none;
    color: inherit;
  }
}
