// main style file, for general changes
@use 'variables.scss' as v;

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Press Start 2P", cursive;
  font-family: sans-serif;
  font-weight: normal;
  //   border: 1px solid rgba(255, 0, 0, 0.658);
}

#app {
  background-color: v.$background;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s ease-out;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  top: 69px;
}
