// main style file, for general changes
@use 'variables.scss' as v;

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

@font-face {
  font-family: 'Home';
  src: url('../assets/home.ttf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Press Start 2P", cursive;
  font-family: 'Home';
  font-weight: normal;
    // border: 1px solid rgba(255, 0, 0, 0.658);
}

#app {
  // background-color: v.$background;
  background-image: url('../assets/background.webp');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s ease-out;
}

.hamburger-enter-from,
.hamburger-leave-to {
  transform: translateX(300px);
  opacity: 0;
}

.hamburger-enter-active,
.hamburger-leave-active {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.background-enter-from,
.background-leave-to {
  opacity: 0;
}

.background-enter-active,
.background-leave-active {
  transition: opacity 0.15s ease-out;
}

.page {
  @include v.flex(row, center, flex-start);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  top: 69px;
  .wrapper {
    max-width: 900px;
    padding-top: 20px;
  }

}

.heading {
  h1 {
    color: v.$pink-text;
    align-self: flex-start;
  }
}

.popup-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000054;
  z-index: 4;
  backdrop-filter: blur(3px);
}